<script src="__PLUG__/vue/dist/vue.min.js"></script>
<link href="__PLUG__/iview/dist/styles/iview.css" rel="stylesheet">
<script src="__PLUG__/iview/dist/iview.min.js"></script>
<script src="__JS__/jquery.min.js"></script>
<script src="__PLUG__/form-create/province_city.js"></script>
<script src="__PLUG__/form-create/province_city_area.js"></script>
<script src="__PLUG__/form-create/form-create.min.js"></script>
<style>
    /*弹框样式修改*/
    .ivu-modal{top: 20px;}
    .ivu-modal .ivu-modal-body{padding: 10px;}
    .ivu-modal .ivu-modal-body .ivu-modal-confirm-head{padding:0 0 10px 0;}
    .ivu-modal .ivu-modal-body .ivu-modal-confirm-footer{display: none;padding-bottom: 10px;}
    .ivu-date-picker {display: inline-block;line-height: normal;width: 280px;}
    .ivu-modal-footer{display: none;}
    .ivu-btn-long {
        width: 40% !important;
        margin-left:120px;
    }
</style>