<!-- Latest compiled and minified JavaScript -->
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="__PLUG__/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/columns/bootstrap-table-fixed-columns.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/export/tableExport.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/editable/bootstrap-editable.min.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/treegrid/jquery.treegrid.min.js"></script>

<script src="__PLUG__/bootstrap-table/extensions/blockUI/jquery.blockUI.js"></script>

<script src="__BJS__/plugins/iCheck/icheck.min.js?v=4.3.1"></script>