
{extend name='public/base' /}
{block name="css"}

{/block}
{block name="content"}

<div class="ibox xiaoshi">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form class="form-inline" id="form">
                    <div class="select-list">
                        <ul>

                            {:li_select(['0'=>'失败','1'=>'成功'],'状态','status')}

                            {:li_time('时间范围')}

                            {:li_search()}

                        </ul>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success  btn-rounded {:node('Command/add')}" onclick="$.form.add()">
                        <i class="fa fa-plus"></i> 新增命令
                    </a>
                    <a class="btn btn-danger btn-rounded multiple " onclick="$.form.removeAll()">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <a class="btn btn-warning btn-rounded" onclick="$.table.exportExcel()">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
                <div class="table-striped">
                    <table id="bootstrap-table" ></table>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"} <!--js处理区-->

<script>
    $(function() {
        var options = {
            url: "{:url('index')}",
            deleteUrl:  "{:url('del')}?id={id}", //删除链接
            exportUrl:  "{:url('export')}",  //导出
            updateUrl: "", //编辑
            addUrl:    "{:url('add')}", //添加
            detailUrl:  "/detailUrl",    //详细
            sortName: "id",
            sortOrder: "desc",
            modalName: "在线命令",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID'
                },
                {
                    field: 'name',
                    title: '类型'
                },
                {
                    field: 'app',
                    title: '模块'
                },
                {
                    field: 'command',
                    title: '命令行',
                    formatter: function(value, row, index) {
                         return $.table.tooltip(value,50,'open');
                    }
                }, {
                    field: 'do_time',
                    title: '执行时间'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                        if (value == 0) {
                            return '<span class="badge badge-danger">失败</span>';
                        } else{
                            return '<span class="badge badge-info">成功</span>';
                        }
                    }
                },

                {
                    field: 'create_time',
                    title: '添加时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                          return edit_del(row);
                    }

                }]
        };
        $.table.init(options);
    });

    function edit_del(row) {
            var actions = [];
           // actions.push('<a class="btn btn-xs btn-success  {:node(\'Command/edit\')}" data-original-title="编辑" data-toggle="tooltip" onclick="$.form.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i></a>');
            actions.push('<a class="btn btn-danger btn-xs {:node(\'Command/del\')}" data-original-title="删除" data-toggle="tooltip" onclick="$.form.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i></a>');
            return actions;
    }

</script>

{/block}
